#orange-section {
  background: #f3603c;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange-title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: -0.714px;
  width: 445px;
}
.orange-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orange-btn {
  color: #f3603c;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #fcf6f5;
  border: none;
  padding: 15px 38px;
  border-radius: 22px;

  &:hover {
    background: #c22903;
  }
}
